<!-- content area start here -->
<ngx-loading [show]="loading" [config]="{primaryColour: '#dd0031', secondaryColour: '#006ddd', tertiaryColour: '#dd0031', backdropBorderRadius: '3px'}"></ngx-loading>

<section>
  <!-- top banner start here -->
  <div class="page-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Passwords</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- top banner end here -->

  <!-- links starts -->
  <div class="_inpages _add-link">
    <div class="container">

      <div class="row">

        <div class="col-md-12">
          <div id="home" class="_links">
            <div class="row">
              <div class="col-xs-12">
                <h2>Passwords <span class="icon-info-sign"></span> </h2>
                <span *ngIf="is_owner" class="pull-right"><i class="icon-add-circular-button" aria-hidden="true"></i><a
                    href="javascript:void(0);" (click)="showLink();">Add more</a></span>
              </div>
            </div>
            <div class="row">
              <div class="form-group margin-top-15" *ngIf="showLinkForm">
                <form #createPasswordForm="ngForm" (ngSubmit)="createPasswordForm.valid ? createLink() : '' "
                  novalidate>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <input required class="input-control" placeholder="Platform" type="text" #meta_description="ngModel"
                        [(ngModel)]="createPasswordModel.meta_description" name="meta_description">

                      <div class="has-error" *ngIf="meta_description.errors && (meta_description.dirty || meta_description.touched || createPasswordForm.submitted)">

                        <div *ngIf="meta_description.errors.required">
                          The platform is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input required class="input-control" placeholder="Email/Username" type="text" #meta_key="ngModel"
                        [(ngModel)]="createPasswordModel.meta_key" name="meta_key">
                      <div class="has-error" *ngIf="meta_key.errors && (meta_key.dirty || meta_key.touched || createPasswordForm.submitted)">

                        <div *ngIf="meta_key.errors.required">
                          The email/username is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input required class="input-control" placeholder="Password" type="text" #meta_value="ngModel"
                        [(ngModel)]="createPasswordModel.meta_value" name="meta_value">
                      <div class="has-error" *ngIf="meta_value.errors && (meta_value.dirty || meta_value.touched || createPasswordForm.submitted)">

                        <div *ngIf="meta_value.errors.required">
                          The password is required
                        </div>

                      </div>

                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input type="submit" value="Save" class="btn-fill">
                    </div>
                  </div>



                </form>
              </div>
            </div>


            <div class="form-group" *ngFor="let data of my_links_data | paginate: { 
                          itemsPerPage: limit,
                          currentPage: page,
                          totalItems: total,
                          maxSize: 5
                         }; let i = index">
              <label>{{ data.meta_description }}
                <span *ngIf="is_owner" class="pull-right" (click)="deleteFolderData(data.id)"><i class="icon-delete-photo"></i></span>
              </label>
              <div class="row ">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <input type="text" class="input-control" [disabled]="true" placeholder="{{ data.meta_key }}">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <input type="text" class="input-control" [disabled]="true" placeholder="{{ data.meta_value }}">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-xs-12 text-center" style="margin-bottom: 20px;">
              <app-ads-component [slug]="'links'"></app-ads-component>
            </div>

            <div *ngIf="total == 0" class="col-xs-12 text-center">
              No record found
            </div>

          </div>



        </div>
      </div>
      <div class="_pagination" *ngIf="total > limit">
        <pagination-controls class="my-pagination" (pageChange)="getDetail($event)"></pagination-controls>
      </div>
    </div>
  </div>
  <!-- links ends -->


</section>

<!-- content area ends  -->
