<!-- content area start here -->
<ngx-loading [show]="loading" [config]="{primaryColour: '#dd0031', secondaryColour: '#006ddd', tertiaryColour: '#dd0031', backdropBorderRadius: '3px'}"></ngx-loading>

<section >
  <!-- top banner start here -->
  <div class="page-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Change Password</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- top banner end here -->

  <div class="login-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="login-form">
            <h4>Change Password</h4>
            <form #userForm="ngForm" (ngSubmit)="(userForm.valid && changePasswordModel.password == changePasswordModel.password_confirmation) ? changePassword() : submitted = true "
              novalidate>
              <div class="form-group">
                <label>Old Password *</label>
                <input type="password" class="input-control" #old_password="ngModel" [(ngModel)]="changePasswordModel.old_password"
                  name="old_password" placeholder="Old Password" required>
                <div class="has-error" *ngIf="old_password.errors && (old_password.dirty || old_password.touched || userForm.submitted)">
                  <div *ngIf="password.errors.required">
                    Old password is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Password *</label>
                <input type="password" minlength="6" maxlength="15" class="input-control" #password="ngModel"
                  [(ngModel)]="changePasswordModel.password" name="password" placeholder="Password" required>

                <div class="has-error" *ngIf="password.errors && (password.dirty || password.touched || userForm.submitted)">
                  <div *ngIf="password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Minimum 6 characters required
                  </div>
                  <div *ngIf="password.errors.maxlength">
                    Maximum 15 characters allowed
                  </div>
                </div>

              </div>

              <div class="form-group">
                <label>Confirm Password *</label>
                <input placeholder="Confirm password" class="input-control" type="password" name="password_confirmation"
                  [(ngModel)]="changePasswordModel.password_confirmation" required #password_confirmation="ngModel">

                <div class="has-error" *ngIf="password.valid == true && (changePasswordModel.password != changePasswordModel.password_confirmation ) && userForm.submitted">
                  Both password should match
                </div>

              </div>


              <div class="form-group">
                <input type="submit" value="Update" class="btn-fill">
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- content area ends  -->
