<!-- content area start here -->
<ngx-loading [show]="loading" [config]="{primaryColour: '#dd0031', secondaryColour: '#006ddd', tertiaryColour: '#dd0031', backdropBorderRadius: '3px'}"></ngx-loading>

<section class="content-area">
  <div class="login-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12" *ngIf="showForm">
          <div class="login-form">
            <h4>Reset Password</h4>

            <form #userForm="ngForm" (ngSubmit)="(userForm.valid && userModel.password == userModel.confirm_password) ? resetPassword() : '' "
              novalidate>
              <!-- <div class="form-group">
                <label>Old Password *</label>
                <input type="password" class="input-control" #old_password="ngModel" [(ngModel)]="userModel.old_password"
                  name="old_password" placeholder="Old Password" required>
                <div class="has-error" *ngIf="old_password.errors && (old_password.dirty || old_password.touched || userForm.submitted)">
                  <div *ngIf="password.errors.required">
                    Old password is required
                  </div>
                </div>
              </div> -->

              <div class="form-group">
                <label>Password</label>
                <input type="password" minlength="6" maxlength="15" class="input-control" #password="ngModel"
                  [(ngModel)]="userModel.password" name="password" placeholder="Password" required>

                <div class="has-error" *ngIf="password.errors && (password.dirty || password.touched || userForm.submitted)">
                  <div *ngIf="password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Minimum 6 characters required
                  </div>
                  <div *ngIf="password.errors.maxlength">
                    Maximum 15 characters allowed
                  </div>
                </div>

              </div>

              <div class="form-group">
                <label>Confirm Password *</label>
                <input placeholder="Confirm password" class="input-control" type="password" name="confirm_password"
                  [(ngModel)]="userModel.confirm_password" required #confirm_password="ngModel">

                <div class="has-error" *ngIf="password.valid == true && (userModel.password != userModel.confirm_password ) && userForm.submitted">
                  Both password should match
                </div>

              </div>


              <div class="form-group">
                <input type="submit" value="Update" class="btn-fill">
              </div>

            </form>
          </div>

          <div class="adver-wrap margin-bottom-6x">
            <a href="javascript:void(0);">
              <img src="assets/images/advertise-03.jpg" alt="Ads">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- content area ends  -->
