 <!-- footer start here -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul>
                    <li><a href="javascript:void(0);">FAQ </a></li>
                    <li><a href="javascript:void(0);" routerLink="/about">About Us </a></li>
                    <li><a href="javascript:void(0);">How it Works </a></li>
                    <li><a href="javascript:void(0);" routerLink="/declaration">Declaration </a></li>
                    <li><a href="javascript:void(0);" routerLink="/contact-us"> Contact Us </a></li>
                    <li><a href="javascript:void(0);" routerLink="/terms">Terms of Use </a></li>
                    <li><a href="javascript:void(0);" routerLink="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="social pull-right">
                    <li>
                        <a href="javascript:void(0);"><i class="icon-facebook-logo"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="icon-twitter-logo-silhouette"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-copyright">
                <div class="col-md-12">
                    <p>&copy; 2018 <a href="javascript:void(0);">WilloDiary.Inc.</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end here -->