<ngx-loading [show]="loading" [config]="{primaryColour: '#dd0031', secondaryColour: '#006ddd', tertiaryColour: '#dd0031', backdropBorderRadius: '3px'}"></ngx-loading>
<form #swapForm="ngForm" (ngSubmit)="swapForm.valid ? swapUser() : '' " novalidate>


  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
          <div *ngIf=" all_members.length == 0 " class="has-error">
          No family added yet
        </div>
     
    <div class="col-sm-6 col-md-4 _dtl-box" *ngFor="let data of all_members; let last = last; let i=index;">
      <div class="_mem-detail _swap-role" >
       
        <div class="_fam-membr">
          <span><img src="{{ data.receiver_detail.image }}" alt="User Image"></span>
          <label>{{ data.name }}</label>
          <samp class="_relation">{{ data.relation_data.name }}({{ data.family_type_detail.slug }})</samp>


          <!-- <span class="custom-radio">
            <input  type="radio"  [(ngModel)]="swapFamilyMember.to" #user_id="ngModel"  name="user_id" required  [value]="data.receiver_detail.id" (change)="onSelectionChange(data.receiver_detail.id)">
             <label for=""></label>
            </span> -->

            <span  class="custom-radio">
              <input   type="radio" id="{{i}}" [(ngModel)]="swapFamilyMember.to" #user_id="ngModel" name="user_id" required [value]="data.receiver_detail.id" (change)="onSelectionChange(data.receiver_detail.id)">
              <label  for="{{i}}">Select member</label>
            </span>



<!-- <input type="radio" [(ngModel)]="swapFamilyMember.to" #user_id="ngModel"  name="user_id" required  [value]="data.receiver_detail.id" (change)="onSelectionChange(data.receiver_detail.id)" > -->
          

          <div class="has-error" *ngIf="last && user_id.errors && (user_id.dirty || user_id.touched || swapForm.submitted)">
            <div *ngIf="user_id.errors.required">
              Please select member
        </div>
      </div>

          
        </div>
      </div>
      <!-- <div *ngIf="data.is_error" class="has-error">
        Required
      </div> -->

    </div>

    <div class="clearfix"></div>

  </div>
  <div class="modal-footer">
    <div class="form-group">
      <input type="submit" value="Save" class="btn-fill">
    </div>
  </div>


</form>
