<!-- content area start here -->
<ngx-loading [show]="loading" [config]="{primaryColour: '#dd0031', secondaryColour: '#006ddd', tertiaryColour: '#dd0031', backdropBorderRadius: '3px'}"></ngx-loading>

<section>
  <div class="vault-area">
    <!-- top banner start here -->
    <div class="page-title-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Vault</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- top banner end here -->
    <div class="container">

      <h2>My Personal Vault
        <span class="pull-right add-folder"><a href="javascript:void(0);" (click)="createFolder()"><span class="icon-add-circular-button"></span>
            Add New Folder</a></span>
      </h2>
      <div class="row text-center" *ngIf="showFolder">
        <div *ngFor="let data of folder_created">
          <div class="_new-fold">
          <div class="row">
          <div class="v-wrap _add-new-folder">
            <span class="v-icon active" style="pointer-events: none;">
              <img src="{{data.image}}" alt="Logo">
            </span>
            <h4 class="v-head" (blur)="saveFolder()" contenteditable="true" [textContent]="folderCreatedModel.name" (input)="folderCreatedModel.name=$event.target.textContent">
              <!-- <input type="text" (blur)="saveFolder()"  required #name="ngModel" [(ngModel)]="folderCreatedModel.name" name="name" > -->
              
              <!--<span class="icon-plus" (click)="folderCreatedModel.valid ? saveFolder() : '' "></span>-->
            </h4>
            
            

          </div>
          <div class="has-error" *ngIf="!folderCreatedModel.name">
            The name is required
          </div>
          </div>
          </div>


        </div>
       
      </div>

      <div class="row">
        
        <div class="col-md-3 col-sm-6" *ngFor="let data of my_vault_data | paginate: { 
                itemsPerPage: limit,
                currentPage: page,
                totalItems: total,
                maxSize: 5
               }; let i = index">
          <div class="v-wrap">
           
            <span class="v-icon active" >
              <a href="javascript:void(0);" style="display: block;" (click)="defaultFolderDetail(data.slug,data.id);">
                <img src="{{data.subfolder_image}}" alt="">
              </a>
            </span>

            <span class="btn-box">
              <a (click)="assignMemberModal(data.id)" href="javascript:void(0);" class="icon-add-member"></a>
            </span>

            <h4 class="v-head" (blur)="updateFolder(data.id,folderUpdateModel.name)" [textContent]="data.name" (input)="folderUpdateModel.name=$event.target.textContent"
              [attr.contenteditable]="data.type === 1 ? 'false' : 'true'">{{data.name}}
            </h4>
          </div>
        </div>



        <!-- add start here -->
                
                    <div class="col-xs-12 align-center ">
                        <div class="adver-wrap">
                          <app-ads-component [slug]="'vault-detail'"></app-ads-component>
                        </div>
                      </div>
        <!-- add end here -->



      </div>
      <div class="_pagination" *ngIf="total > limit">
        <pagination-controls class="my-pagination" (pageChange)="getVaultDetail($event)"></pagination-controls>
      </div>
    </div>

  </div>
</section>

<!-- content area ends  -->
